.trending-component-wrapper {
    background: #D64545;
    color: #FFFFFF;
    padding: 1rem;
}

.trending-component-wrapper .header {
    margin-bottom: 1rem;
}

.trending-component-wrapper a {
    color: #FFFFFF;
}