<div class="ui card">
    <div class="content">
      <div class="header">Trending Tags</div>
    </div>
    <div class="content">
        <div class="summary">
            <a>Topic 1</a>
        </div>
        <div class="summary">
            <a>Topic 2</a>
        </div>
        <div class="summary">
            <a>Topic 3</a>
        </div>
        <div class="summary">
            <a>Topic 4</a>
        </div>
        <div class="summary">
            <a>Topic 5</a>
        </div>
        <div class="summary">
            <a>Topic 6</a>
        </div>
        <div class="summary">
            <a>Topic 7</a>
        </div>
        <div class="summary">
            <a>Topic 8</a>
        </div>
        <div class="summary">
            <a>Topic 9</a>
        </div>
        <div class="summary">
            <a>Topic 10</a>
        </div>
    </div>
  </div>