<div class="post-list-container">
    <div>
        <app-post></app-post>
    </div>
    <div>
        <app-post></app-post>
    </div>
    <div>
        <app-post></app-post>
    </div>
    <div>
        <app-post></app-post>
    </div>
    <div>
        <app-post></app-post>
    </div>
    <div>
        <app-post></app-post>
    </div>
    <div>
        <app-post></app-post>
    </div>
    <div>
        <app-post></app-post>
    </div>
    <div>
        <app-post></app-post>
    </div>
    <div>
        <app-post></app-post>
    </div>
</div>