.container {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 1rem;
}

.container .sidebar-left {
  grid-column: 1;
  margin-left: 1rem;
}

.container .feed-content {
  grid-column: 2;
}

.container .sidebar-right {
  display: grid;
  grid-column: 3;
  margin-right: 1rem;
  grid-auto-rows: minmax(min-content, max-content);
}
