<section class="profile-posts-container">
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
    <app-profile-post></app-profile-post>
</section>