<div class="navigation-header-component-wrapper">
    <div class="navbar">
        <div class="nav-item">
            <span class="title">
              <a routerLink="">ONE.12</a>
            </span>
        </div>
        <div class="nav-item">
          <a routerLink="/blog">Blog</a>
        </div>
        <div class="nav-item">
          <a routerLink="/howto">How To</a>
        </div>
        <div *ngIf="!isLoggedIn()" class="nav-item">
            <a (click)="login()">Login</a>
        </div>
      <div *ngIf="isLoggedIn()" class="nav-item">
        <a (click)="logout()">Log Out</a>
      </div>
    </div>
</div>
