.navbar {
    display: grid;
    grid-template-columns: minmax(100px, max-content) repeat(4, max-content);
    grid-template-rows: 4rem;
    background: #283439;
}

.navbar .nav-item {
    color: #FFFFFF;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    align-content: center;
    align-self: center;
    align-items: center;
}

.navbar .nav-item .title {
    font-size: 1.25rem;
    text-transform: uppercase;
    border: 1px;
    border-radius: 0.25rem;
    background: #3982dd;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}