<div class="navigation-header-component-wrapper">
    <div class="navbar">
        <div class="nav-item">
            LOGO
        </div>
        <div class="nav-item">
            <div class="ui fluid icon input">
                <input type="text" placeholder="Search a very wide input...">
                <i class="search icon"></i>
            </div>
        </div>
        <div class="nav-item">
            <span>
                <i class="fas fa-book-open"></i>Blog
            </span>
        </div>
        <div class="nav-item">
            <span>
                <i class="fas fa-question"></i> How To
            </span>
        </div>
    </div>
</div>