.navbar {
    display: grid;
    grid-template-columns: minmax(100px, max-content) minmax(500px, max-content) repeat(3, max-content);
    grid-template-rows: 5rem;
    background: #e53738;
    margin-bottom: 1rem;
}

.navbar .nav-item {
    color: #FFFFFF;
    padding-top: 1.5rem;
    padding-left: 0.5rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.navbar .nav-item .fas {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}