<header>
    <app-header></app-header>
</header>
<main class="container">
    <!-- Left Widget -->
    <section class="sidebar-left">
        <aside>
            <app-trending></app-trending>
        </aside>
    </section>

    <!-- Feeds -->
    <section class="feed-content">
        <app-post-list></app-post-list>
    </section>

    <!-- Right Widget-->
    <section class="sidebar-right">
        <aside>
            <app-right-banner-adunit></app-right-banner-adunit>
        </aside>
        <aside>
            <app-feed-suggestions></app-feed-suggestions>
        </aside>
    </section>
</main>