.meme-post-container {
    display: grid;
    background: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #d4d4d5;
    border-radius: 5px;
    grid-template-rows: 5rem auto 3rem 3rem;
}

.meme-post-container .header {
    grid-row: 1;
    display: grid;
    grid-template-columns: 5rem auto 3rem;
}

.meme-post-container .header .avatar img {
    height: 3rem;
    width: 3rem;
    border-radius: 500rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 0.25rem;
}

.meme-post-container .header .user {
    margin-top: 1rem;
}

.meme-post-container .header .user .time{
    font-size: 0.9rem;
    color: rgba(0,0,0,.4);
}

.meme-post-container .header .moments {
    margin-top: 2rem;
    margin-right: 1rem;
    text-align: right;
}

.meme-post-container .content {
    grid-row: 2;
}

.meme-post-container .content img {
    width: 100%;
    height: auto;
    border-radius: 0.2rem;
}

.meme-post-container .buttons-ui {
    grid-row: 3;
    padding: 0.5rem;
}

.meme-post-container .buttons-ui a {
    margin-right: 0.5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    background:#f76564;
    border-radius: 0.2rem;
    color: #FFFFFF;
}

.meme-post-container .comments-ui {
    grid-row: 4;
}