<article class="meme-post-container">
  <section class="header">
    <div class="avatar">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Virat..Kohli.jpg/260px-Virat..Kohli.jpg" alt="">
    </div>
    <div class="user">
      <div class="username">
          Arun Selva Kumar
      </div>
      <div class="time">
          14 hrs Ago
      </div>
    </div>
    <div class="moments">
        
    </div>
  </section>
  <section class="content">
      <img src="https://source.unsplash.com/random">
  </section>
  <section class="buttons-ui">
    <a href="">#Tag1</a>
    <a href="">#Tag2</a>
    <a href="">#Tag3</a>
    <a href="">#Tag4</a>
    <a href="">#Tag5</a>
    <a href="">#Tag6</a>
  </section>
  <section class="comments-ui">
    <div>
      <span>
        <i class="far fa-heart"></i> 14 Likes
      </span>
    </div>
    <div class="comments">
      <span>
        <i class="far fa-comment"></i> 100 Comments
      </span>
    </div>
  </section>
</article>