<div class="feed-suggestions-component-wrapper">
    <div class="header">
        <h3>Discover Pages</h3>
    </div>

    <div class="content">
        <div class="header">IT MEMES 1</div>
        <div class="meta">Last Post : 30 Secs Ago</div>
        <div class="description">
            <p>Vaadi Nee Vaadi Nee Vaadi Nee Vaa Enna Thedi Nee Thedi Nee Odi Nee Vaa</p>
        </div>
    </div>

    <div class="content">
        <div class="header">IT MEMES 1</div>
        <div class="meta">Last Post : 30 Secs Ago</div>
        <div class="description">
            <p>Vaadi Nee Vaadi Nee Vaadi Nee Vaa Enna Thedi Nee Thedi Nee Odi Nee Vaa</p>
        </div>
    </div>

    <div class="content">
        <div class="header">IT MEMES 1</div>
        <div class="meta">Last Post : 30 Secs Ago</div>
        <div class="description">
            <p>Vaadi Nee Vaadi Nee Vaadi Nee Vaa Enna Thedi Nee Thedi Nee Odi Nee Vaa</p>
        </div>
    </div>

    <div class="content">
        <div class="header">IT MEMES 1</div>
        <div class="meta">Last Post : 30 Secs Ago</div>
        <div class="description">
            <p>Vaadi Nee Vaadi Nee Vaadi Nee Vaa Enna Thedi Nee Thedi Nee Odi Nee Vaa</p>
        </div>
    </div>

</div>