<div class="feed-suggestions-component-wrapper">
    <div class="header">
        <h3>Discover Pages</h3>
    </div>

    <div class="content">
        <div class="header">IT MEMES 1</div>
        <div class="meta">Last Post : 30 Secs Ago</div>
        <div class="description">
            <p>Vaadi Nee Vaadi Nee Vaadi Nee Vaa Enna Thedi Nee Thedi Nee Odi Nee Vaa</p>
        </div>
    </div>

    <div class="content">
        <div class="header">IT MEMES 1</div>
        <div class="meta">Last Post : 30 Secs Ago</div>
        <div class="description">
            <p>Vaadi Nee Vaadi Nee Vaadi Nee Vaa Enna Thedi Nee Thedi Nee Odi Nee Vaa</p>
        </div>
    </div>

    <div class="content">
        <div class="header">IT MEMES 1</div>
        <div class="meta">Last Post : 30 Secs Ago</div>
        <div class="description">
            <p>Vaadi Nee Vaadi Nee Vaadi Nee Vaa Enna Thedi Nee Thedi Nee Odi Nee Vaa</p>
        </div>
    </div>

    <div class="content">
        <div class="header">IT MEMES 1</div>
        <div class="meta">Last Post : 30 Secs Ago</div>
        <div class="description">
            <p>Vaadi Nee Vaadi Nee Vaadi Nee Vaa Enna Thedi Nee Thedi Nee Odi Nee Vaa</p>
        </div>
    </div>

</div>

<div class="ui card">
    <div class="content">
        <div class="header">Discover Pages</div>
    </div>
    <div class="content">
        <div class="header">IT MEMES 1</div>
        <div class="meta">Last Post : 30 Secs Ago</div>
        <div class="description">
            <p>Vaadi Nee Vaadi Nee Vaadi Nee Vaa Enna Thedi Nee Thedi Nee Odi Nee Vaa</p>
        </div>
        <div class="ui right floated basic button">
            <i class="add icon"></i>
            Follow
        </div>
    </div>

    <div class="content">
        <div class="header">IT MEMES 2</div>
        <div class="meta">Last Post : 30 Secs Ago</div>
        <div class="description">
            <p>Vaadi Nee Vaadi Nee Vaadi Nee Vaa Enna Thedi Nee Thedi Nee Odi Nee Vaa</p>
        </div>
        <div class="ui right floated basic button">
            <i class="add icon"></i>
            Follow
        </div>
    </div>

    <div class="content">
        <div class="header">IT MEMES 3</div>
        <div class="meta">Last Post : 30 Secs Ago</div>
        <div class="description">
            <p>Vaadi Nee Vaadi Nee Vaadi Nee Vaa Enna Thedi Nee Thedi Nee Odi Nee Vaa</p>
        </div>
        <div class="ui right floated basic button">
            <i class="add icon"></i>
            Follow
        </div>
    </div>
</div>