<section class="comment-container">
  <section class="comment-user-profiledp">
    <img class="profile-image" src="http://timedotcom.files.wordpress.com/2018/04/time-100-virat-kohli1.jpg" alt="">
  </section>
  <section class="comment-content">

    <section class="user-information-wrapper">
      <span>Arun Selva Kumar</span>
      <span>Today at 12:45 PM</span>
    </section>

    <section class="comment-text">
      Lorem Ipsum
    </section>

    <section class="footer">
      Like
    </section>
  </section>
</section>
