.scrapbook-container {
    display:grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem;
}

.scrapbook-container
.scrapbook-post-wrapper
.scrap-post {
    text-align: center;
}

.scrapbook-container
.scrapbook-post-wrapper
.scrap-post 
.scrap-post-header-label {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #544B4A;
}

.scrapbook-container
.scrapbook-post-wrapper
.scrap-post 
.scrap-post-description-label {
    font-size: 1.2rem;
    margin: 5px 0px;
}

textarea {
    width: 100%;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: 0.2rem;
}