<article class="post-container">
  <div class="ui card">
    <div class="content">
      <div class="right floated meta">14h</div>
      <img class="ui avatar image" src="https://img-9gag-fun.9cache.com/photo/aAx8RO9_460swp.webp"> Elliot
    </div>
    <div class="image">
      <img src="https://scontent.fblr2-1.fna.fbcdn.net/v/t1.0-9/40083545_526728627776737_5758949436197699584_n.jpg?_nc_cat=0&oh=f4c40498fc42288078fabfa460c6206a&oe=5C03E7A1">
    </div>
    <div class="content">
      <span class="right floated">
        <i class="heart outline like icon"></i>
        17 likes
      </span>
      <i class="comment icon"></i>
      3 comments
    </div>
    <div class="extra content">
      <div class="ui large transparent left icon input">
        <i class="heart outline icon"></i>
        <input type="text" placeholder="Add Comment...">
      </div>
    </div>
  </div>
</article>