.profile-nav-container {
    padding: 0.2rem;
    background: #ff0324;
    text-align: center;
}

.profile-nav-container 
ul {
    list-style-type: none;
}

.profile-nav-container 
ul
li {
    display: inline-block;
}

.profile-nav-container 
ul
li
a {
    padding : 1rem 3rem 1rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}