.profile-nav-container {
    padding: 0.5rem;
    background: #ffffff;
    opacity: 0.95;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.profile-nav-container 
ul {
    list-style-type: none;
}

.profile-nav-container 
ul
li {
    display: inline-block;
}

.profile-nav-container 
ul
li
a {
    padding : 1rem 3rem 1rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #ff0324;
    font-size: 1rem;
    font-weight: 500;
}