.post-container {
    display: grid;
    background: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #d4d4d5;
    border-radius: 5px;
    grid-template-rows: auto 3rem 3rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.post-container 
.content-wrapper
img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.post-container 
.tags-wrapper {
    padding: 0.5rem;
}

.post-container 
.tags-wrapper 
a {
    margin-right: 0.5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    background:#ff0324;
    border-radius: 0.2rem;
    color: #F1F2EE;
}

.post-container
.post-footer-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.post-container
.post-footer-wrapper
.comments {
    justify-self: end;
}