<article class="post-container">

    <section class="content-wrapper">
      <img src="https://source.unsplash.com/random">
    </section>
  
    <section class="tags-wrapper">
      <a href="">#Tag1</a>
      <a href="">#Tag2</a>
      <a href="">#Tag3</a>
      <a href="">#Tag4</a>
      <a href="">#Tag5</a>
      <a href="">#Tag6</a>
    </section>
    <section class="post-footer-wrapper">
      <div>
        <span>
          <i class="far fa-heart"></i> 14 Likes
        </span>
      </div>
      <div class="comments">
        <span>
          <i class="far fa-comment"></i> 100 Comments
        </span>
      </div>
    </section>
  
  </article>