.pc-container {
    opacity: 0.96;
    padding: 1rem;
    background: #524cb8;
    color: #F1F2EE;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    display: grid;
    grid-template-columns: 200px auto 200px;
    align-items: center;
}

.pc-container 
.profile-image-container {
    align-self: center;
    justify-self: center;
}

.pc-container
.profile-image-container
.profile-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.pc-container
.profile-details-container {
    align-self: center;
}

.pc-container
.profile-details-container
.profile-details {
    display: grid;
    grid-gap: 0.2rem;
}

.pc-container
.profile-details-container
.profile-details 
.profile-detail-name {
    text-transform: uppercase;
}

.pc-container
.profile-details-container
.profile-details 
.profile-detail-name 
.profile-detail-hello {
    text-transform: initial;
    font-weight: 500;
}

.pc-container
.profile-details-container
.profile-details 
.profile-detail-name-wrapper
.profile-detail-name {
    color: #ff0324;
}

.pc-container 
.profile-details-container
.profile-stats-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: fit-content(40%) fit-content(40%) fit-content(40%);
}