<div class="pc-container">
  
  <div class="profile-image-container">
    <img class="profile-image" src="http://timedotcom.files.wordpress.com/2018/04/time-100-virat-kohli1.jpg" alt="">
  </div>  
  
  <div class="profile-details-container">
    <div class="profile-details">
      <div class="profile-detail-name">
        <h3>
          <span class="profile-detail-firstname">Arun</span>
          <span>&nbsp;</span>
          <span class="profile-detail-lastname">Selva Kumar</span>
        </h3>
      </div>
      <div class="profile-detail-username">
        @arunselvakumar
      </div>
      <div class="profile-detail-aboutme">
        iSheep. Avid Reader. Kholi. Introvert. Team IronMan. Movie Buff. Leo. Tea Person.
      </div>
      <div class="profile-detail-joineddate">
        <span class="profile-detail-joineddate-title">
            <i class="fas fa-calendar-alt"></i> Joined
        </span>
        <span>
            December, 2018
        </span>
      </div>
      <div class="profile-detail-follow">
        <a class="primary-button victoria-animate" href="#">Follow</a>
      </div>
    </div>
  </div>

  <div class="profile-stats-container">

  </div>

</div>