<div class="pc-container">

  <div class="profile-image-container">
    <img class="profile-image" src="http://timedotcom.files.wordpress.com/2018/04/time-100-virat-kohli1.jpg" alt="">
  </div>

  <div class="profile-details-container">

    <div class="profile-details">

      <div class="profile-detail-name-wrapper">
        <h3>
          <span class="profile-detail-hello">
            Hello, I 'm
          </span>
          <span class="profile-detail-name">
              <span class="profile-detail-firstname">Arun</span>
              <span>&nbsp;</span>
              <span class="profile-detail-lastname">Selva Kumar</span>
          </span>
        </h3>
      </div>

      <div class="profile-detail-username">
        @arunselvakumar
      </div>

      <div class="profile-detail-aboutme">
        iSheep. Avid Reader. Kholi. Introvert. Team IronMan. Movie Buff. Leo. Tea Person.
      </div>

      <div class="profile-detail-joineddate">
        <span class="profile-detail-joineddate-title">
          <i class="fas fa-calendar-alt"></i> Joined
        </span>
        <span>
          December, 2018
        </span>
      </div>

      <div class="profile-stats-wrapper">
        <span class="profile-stats-following">
          <span class="profile-stats-icon">
            <i class="fas fa-user-astronaut"></i>
          </span>
          <span class="profile-stats-value">
            12
          </span>
          <span class="profile-stats-label">
            Following
          </span>
        </span>
        <span class="profile-stats-followers">
          <span class="profile-stats-icon">
            <i class="fas fa-users"></i>
          </span>
          <span class="profile-stats-value">
            129K
          </span>
          <span class="profile-stats-label">
            Followers
          </span>
        </span>
        <span class="profile-stats-posts">
          <span class="profile-stats-icon">
            <i class="fas fa-clipboard"></i>
          </span>
          <span class="profile-stats-value">
            129
          </span>
          <span class="profile-stats-label">
            Posts
          </span>
        </span>
      </div>

    </div>
  </div>
</div>