<div class="pc-container">
  
  <div class="pc-profile-image-container">
    <img class="pc-profile-image" src="http://timedotcom.files.wordpress.com/2018/04/time-100-virat-kohli1.jpg" alt="">
  </div>  
  
  <div class="pc-profile-details-container">
    <div class="pc-profile-details">
      <div class="pc-profile-detail-name">
        <h3>
          <span class="pc-profile-detail-firstname">Arun</span>
          <span>&nbsp;</span>
          <span class="pc-profile-detail-lastname">Selva Kumar</span>
        </h3>
      </div>
    </div>
  </div>

  <div class="pc-profile-stats-container">

  </div>

</div>