.pc-container {
    padding: 1rem;
    background: #ff0324;
    color: #F1F2EE;

    display: grid;
    grid-template-columns: 200px auto 200px;
    align-items: center;
    border : 0px 0px 2px 0px;
    border-color: #F1F2EE;
}

.pc-container 
.profile-image-container {
    align-self: center;
    justify-self: center;
}

.pc-container
.profile-image-container
.profile-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.pc-container
.profile-details-container {
    align-self: center;
}

.pc-container
.profile-details-container
.profile-details {
    display: grid;
    grid-gap: 0.2rem;
}

.pc-container
.profile-details-container
.profile-details 
.profile-detail-name {
    text-transform: uppercase;
}

.pc-container
.profile-details-container
.profile-details 
.profile-detail-name 
.profile-detail-hello {
    text-transform: initial;
    font-weight: 500;
}

.pc-container
.profile-details-container
.profile-details 
.profile-detail-name-wrapper
.profile-detail-name {
    color: #F1F2EE;
}

.pc-container 
.profile-details-container
.profile-stats-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: fit-content(40%) fit-content(40%) fit-content(40%);
}